@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.app {
  background: transparent;
  border: 1px solid #ccc;
  width: 90%;
  max-width: 600px;
  /* margin: 100px auto 0; */
  border-radius: 12px;
  padding: 30px;
}

.quiz {
  padding: 20px 0;
}

.quiz .btn {
  background: transparent;
  color: #fafafa;
  font-weight: 500;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 8px;
  cursor: pointer;
  transition: ll .3s;
}

.quiz .btn:hover:not([disabled]) {
  background: #fafafa;
  color: #1d1d1d;
}

.quiz .btn:disabled {
  cursor: no-drop;
}

.quiz #next-btn {
  background: transparent;
  color: #fafafa;
  font-weight: 5000;
  width: 150px;
  border: none;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
  display: none;
}

/* Estilizando as classes criadas com JavaScript */
.correct {
  border: 1px solid #35dd1f;
}

.incorrect {
  border: 1px solid #e2431b;
}

.participants-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  align-items: center;
  justify-items: center;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
  background-color: #1d1e20;
}

/* Classes do Tailwind */
.rounded-full {
  border-radius: 50%;
}

.img-small {
  width: 40px;
  height: 40px; /* Define a altura pequena */
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #1a1a1b, #000000);

}